USE [master]
GO
/****** Object:  Database [BIBLIOTECUNAD]    Script Date: 9/11/2025 9:13:14 a. m. ******/
CREATE DATABASE [BIBLIOTECUNAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTECUNAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BIBLIOTECUNAD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIBLIOTECUNAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BIBLIOTECUNAD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTECUNAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTECUNAD]
GO
/****** Object:  User [bibliousers]    Script Date: 9/11/2025 9:13:16 a. m. ******/
CREATE USER [bibliousers] FOR LOGIN [bibliousers] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bibliouser]    Script Date: 9/11/2025 9:13:16 a. m. ******/
CREATE USER [bibliouser] FOR LOGIN [bibliouser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bibliousers]
GO
ALTER ROLE [db_owner] ADD MEMBER [bibliouser]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[rol_id] [int] NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[autor] [varchar](100) NOT NULL,
	[categoria] [varchar](50) NULL,
	[anio] [int] NULL,
	[cantidad] [int] NOT NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[libro_id] [int] NOT NULL,
	[fecha_prestamo] [datetime] NULL,
	[fecha_devolucion] [datetime] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HistorialUsuario]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vistas
CREATE   VIEW [dbo].[vw_HistorialUsuario] AS
SELECT 
    U.nombre AS Usuario,
    L.titulo AS Libro,
    P.fecha_prestamo AS FechaPrestamo,
    P.fecha_devolucion AS FechaDevolucion,
    P.estado AS Estado
FROM Prestamos P
INNER JOIN Usuarios U ON P.usuario_id = U.id
INNER JOIN Libros L ON P.libro_id = L.id;
GO
/****** Object:  View [dbo].[vw_LibrosMasPrestados]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_LibrosMasPrestados] AS
SELECT 
    L.titulo AS Libro,
    COUNT(P.id) AS VecesPrestado
FROM Prestamos P
INNER JOIN Libros L ON P.libro_id = L.id
GROUP BY L.titulo;
GO
/****** Object:  View [dbo].[vw_UsuariosActivos]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_UsuariosActivos] AS
SELECT 
    U.nombre AS Usuario,
    COUNT(P.id) AS PrestamosRealizados
FROM Prestamos P
INNER JOIN Usuarios U ON P.usuario_id = U.id
GROUP BY U.nombre;
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[libro_id] [int] NOT NULL,
	[fecha_reserva] [datetime] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/11/2025 9:13:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ('Disponible') FOR [estado]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [fecha_prestamo]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (getdate()) FOR [fecha_reserva]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([libro_id])
REFERENCES [dbo].[Libros] ([id])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([libro_id])
REFERENCES [dbo].[Libros] ([id])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD CHECK  (([cantidad]>=(0)))
GO
USE [master]
GO
